ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: Red;
}

.active {
  background-color: Blue;
}
body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:30px
}
#Christopher{
    font-size:15px
}
.column {
  float: left;
  width: 100%;
  padding: 15px;
    font-family: 'Langar', cursive; 
    font-size: 20px
}
footer {
  text-align: center;
  padding: 3px;
  font-size: 15px;
  font-family: 'Langar', cursive; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: Red;
}

.active {
  background-color: Blue;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:30px
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
    font-family: 'Langar', cursive; 
    font-size: 20px
}
/*mouse over link*/
#Country:hover{
    color:blue;
}
/*mouse over link*/
#American:hover{
    color:blue;
}
/*mouse over link*/
#Best:hover{
    color:blue;
}
/*mouse over link*/
#Comfort:hover{
    color:blue;
}
/*mouse over link*/
#Cedar:hover{
    color:blue;
}
/*mouse over link*/
#Explore:hover{
    color:blue;
}
/*mouse over link*/
#Inn:hover{
    color:blue;
}
/*mouse over link*/
#Delta:hover{
    color:blue;
}
/*mouse over link*/
#Hampton:hover{
    color:blue;
}
/*mouse over link*/
#Hilton:hover{
    color:blue;
}
footer {
  text-align: center;
  padding: 3px;
  font-size: 15px;
  font-family: 'Langar', cursive; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: Red;
}

.active {
  background-color: Blue;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:30px
}

.column {
  float: left;
  width: 50%;
  padding: 15px;
    font-family: 'Langar', cursive; 
    font-size: 20px;
}
/*mouse over link*/
#Johnny:hover{
    color:blue;
}
/*mouse over link*/
#Sloppy:hover{
    color:blue;
}
/*mouse over link*/
#Saw:hover{
    color:blue;
}
/*mouse over link*/
#Copper:hover{
    color:blue;
}
/*mouse over link*/
#Buffalo:hover{
    color:blue;
}
/*mouse over link*/
#Barley:hover{
    color:blue;
}
/*mouse over link*/
#Roberts:hover{
    color:blue;
}
/*mouse over link*/
#La:hover{
    color:blue;
}
/*mouse over link*/
#China:hover{
    color:blue;
}
/*mouse over link*/
#Fox:hover{
    color:blue;
}
footer {
  text-align: center;
  padding: 3px;
  font-size: 15px;
  font-family: 'Langar', cursive; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: Red;
}
  .active {
  background-color: Blue;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size:30px;
}
.column {
  float: left;
  width: 50%;
  padding: 15px;
    font-family: 'Langar', cursive; 
    font-size: 20px;
      float: none;

}
footer {
  text-align: center;
  padding: 3px;
  font-size: 15px;
  font-family: 'Langar', cursive; 
}
